# Data Science - Project 1: CRISP DM_Blog Post 
### Sep 2019

### Context

##### Since 2008, guests and hosts have used Airbnb to travel in a more unique, personalized way.

### Data source: 
#### Boston AirBnB 
#####(https://www.kaggle.com/airbnb/boston)
#### As part of the Airbnb Inside initiative, this dataset describes the listing activity of homestays in Boston, MA. 

##### Listings: including full descriptions and average review score 
##### Reviews: including unique id for each reviewer and detailed comments 
##### Calendar: including listing id and the price and availability for that day (2016/09 -2017/09)

### Purpose:
#### This analysis is to find the most imp ortant features of Boston's AirBnB market upon the given period. It could help either the visitor or the potential host to make correct decision. Basically, it will look into the data and answer where, when and what are the best target if any vacation or investment is in plan.

### Questions:
###### 1. Where to stay: Does location really drive your first choice or think more? Does the room impact decion as well? Does location in line with ratings? 
 
###### 2. When to visit:  Timing: Does season or event really matter? Does the price echo the demanding?
   
###### 3. What to expect: Is the cost of stay associated with rating/room/etc? How to save some money?

In [ ]:
### Outputs: Blog post with graphs

In [11]:
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Load data: three data in csv format

In [12]:
# [1] Calendar: 
# If price is missing, means not available

df_calendar = pd.read_csv(r'C:\Users\yan toshiba\Desktop\Yan\OnlineCourse\DataScientist(Udacity)\Projects\Project_1_CRISP\MyProject\Data\boston-airbnb-open-data\calendar.csv')
df_calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [24]:
df_calendar.shape
df_calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

In [15]:
print(df_calendar['date'].min(), df_calendar['date'].max())

2016-09-06 2017-09-05

In [28]:
# remove $ in price

def remove_dollar(x):
    if type(x) is str:
        x = float(x.replace('$','').replace(',', ''))
    return x

df_calendar['price_cleansed'] = df_calendar['price'].apply(remove_dollar)

In [29]:
df_calendar[df_calendar['price'].notnull()].head(3)

     listing_id        date available   price  price_cleansed
365     3075044  2017-08-22         t  $65.00            65.0
366     3075044  2017-08-21         t  $65.00            65.0
367     3075044  2017-08-20         t  $65.00            65.0

In [9]:
# [2] Listing: 
# key attributes: property_type, room_type, neighborhood_cleansed

df_listing = pd.read_csv(r'C:\Users\yan toshiba\Desktop\Yan\OnlineCourse\DataScientist(Udacity)\Projects\Project_1_CRISP\MyProject\Data\boston-airbnb-open-data\listings.csv')
df_listing.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [32]:
df_listing.shape
df_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
id                                  3585 non-null int64
listing_url                         3585 non-null object
scrape_id                           3585 non-null int64
last_scraped                        3585 non-null object
name                                3585 non-null object
summary                             3442 non-null object
space                               2528 non-null object
description                         3585 non-null object
experiences_offered                 3585 non-null object
neighborhood_overview               2170 non-null object
notes                               1610 non-null object
transit                             2295 non-null object
access                              2096 non-null object
interaction                         2031 non-null object
house_rules                         2393 non-null object
thumbnail_url                       2986 non-null object
medium_url                          2986 non-null object
picture_url                         3585 non-null object
xl_picture_url                      2986 non-null object
host_id                             3585 non-null int64
host_url                            3585 non-null object
host_name                           3585 non-null object
host_since                          3585 non-null object
host_location                       3574 non-null object
host_about                          2276 non-null object
host_response_time                  3114 non-null object
host_response_rate                  3114 non-null object
host_acceptance_rate                3114 non-null object
host_is_superhost                   3585 non-null object
host_thumbnail_url                  3585 non-null object
host_picture_url                    3585 non-null object
host_neighbourhood                  3246 non-null object
host_listings_count                 3585 non-null int64
host_total_listings_count           3585 non-null int64
host_verifications                  3585 non-null object
host_has_profile_pic                3585 non-null object
host_identity_verified              3585 non-null object
street                              3585 non-null object
neighbourhood                       3042 non-null object
neighbourhood_cleansed              3585 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                3583 non-null object
state                               3585 non-null object
zipcode                             3547 non-null object
market                              3571 non-null object
smart_location                      3585 non-null object
country_code                        3585 non-null object
country                             3585 non-null object
latitude                            3585 non-null float64
longitude                           3585 non-null float64
is_location_exact                   3585 non-null object
property_type                       3582 non-null object
room_type                           3585 non-null object
accommodates                        3585 non-null int64
bathrooms                           3571 non-null float64
bedrooms                            3575 non-null float64
beds                                3576 non-null float64
bed_type                            3585 non-null object
amenities                           3585 non-null object
square_feet                         56 non-null float64
price                               3585 non-null object
weekly_price                        892 non-null object
monthly_price                       888 non-null object
security_deposit                    1342 non-null object
cleaning_fee                        2478 non-null object
guests_included                     3585 non-null int64
extra_people                        3585 non-null object
minimum_nights                      3585 non-null int64
maximum_nights                      3585 non-null int64
calendar_updated                    3585 non-null object
has_availability                    0 non-null float64
availability_30                     3585 non-null int64
availability_60                     3585 non-null int64
availability_90                     3585 non-null int64
availability_365                    3585 non-null int64
calendar_last_scraped               3585 non-null object
number_of_reviews                   3585 non-null int64
first_review                        2829 non-null object
last_review                         2829 non-null object
review_scores_rating                2772 non-null float64
review_scores_accuracy              2762 non-null float64
review_scores_cleanliness           2767 non-null float64
review_scores_checkin               2765 non-null float64
review_scores_communication         2767 non-null float64
review_scores_location              2763 non-null float64
review_scores_value                 2764 non-null float64
requires_license                    3585 non-null object
license                             0 non-null float64
jurisdiction_names                  0 non-null float64
instant_bookable                    3585 non-null object
cancellation_policy                 3585 non-null object
require_guest_profile_picture       3585 non-null object
require_guest_phone_verification    3585 non-null object
calculated_host_listings_count      3585 non-null int64
reviews_per_month                   2829 non-null float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [34]:

df_listing['price_cleansed'] = df_listing['price'].apply(remove_dollar)
df_listing['weekly_price_cleansed'] = df_listing['weekly_price'].apply(remove_dollar)

In [50]:
df_listing.pivot_table(values = ['id'], index = ['neighbourhood_cleansed'], columns =['property_type' ], aggfunc = 'count')

                               id                                             \
property_type           Apartment Bed & Breakfast Boat Camper/RV Condominium
neighbourhood_cleansed
Allston                     177.0             NaN  NaN       NaN         8.0
Back Bay                    271.0             NaN  NaN       NaN        20.0
Bay Village                  13.0             2.0  NaN       NaN         2.0
Beacon Hill                 174.0             3.0  NaN       NaN        11.0
Brighton                    121.0             2.0  NaN       NaN         8.0
Charlestown                  66.0             3.0  1.0       NaN        16.0
Chinatown                    66.0             NaN  NaN       NaN         1.0
Dorchester                  161.0             4.0  NaN       NaN        14.0
Downtown                    146.0             2.0  1.0       1.0         5.0
East Boston                 108.0             NaN  5.0       NaN        12.0
Fenway                      276.0             3.0  NaN       NaN         9.0
Hyde Park                     7.0             1.0  NaN       NaN         1.0
Jamaica Plain               192.0            10.0  NaN       NaN        29.0
Leather District              2.0             NaN  NaN       NaN         3.0
Longwood Medical Area         6.0             NaN  NaN       NaN         2.0
Mattapan                      5.0             2.0  NaN       NaN         NaN
Mission Hill                 95.0             NaN  NaN       NaN         5.0
North End                   121.0             NaN  5.0       NaN         8.0
Roslindale                   17.0             NaN  NaN       NaN         6.0
Roxbury                      95.0             3.0  NaN       NaN         4.0
South Boston                 91.0             NaN  NaN       NaN        32.0
South Boston Waterfront      74.0             NaN  NaN       NaN         3.0
South End                   266.0             6.0  NaN       NaN        30.0
West End                     47.0             NaN  NaN       NaN         2.0
West Roxbury                 15.0             NaN  NaN       NaN         NaN

                                                                       \
property_type           Dorm Entire Floor Guesthouse House Loft Other
neighbourhood_cleansed
Allston                  NaN          NaN        NaN  71.0  1.0   NaN
Back Bay                 NaN          NaN        NaN   2.0  4.0   2.0
Bay Village              NaN          NaN        1.0   5.0  NaN   NaN
Beacon Hill              NaN          NaN        NaN   4.0  NaN   NaN
Brighton                 1.0          NaN        NaN  46.0  1.0   1.0
Charlestown              NaN          1.0        NaN  21.0  NaN   NaN
Chinatown                NaN          NaN        NaN   NaN  4.0   NaN
Dorchester               NaN          1.0        NaN  82.0  1.0   NaN
Downtown                 NaN          NaN        NaN   2.0  6.0   4.0
East Boston              NaN          NaN        NaN  22.0  NaN   NaN
Fenway                   NaN          NaN        NaN   2.0  NaN   NaN
Hyde Park                NaN          NaN        NaN  21.0  1.0   NaN
Jamaica Plain            NaN          1.0        NaN  98.0  2.0   NaN
Leather District         NaN          NaN        NaN   NaN  NaN   NaN
Longwood Medical Area    NaN          NaN        NaN   NaN  1.0   NaN
Mattapan                 NaN          NaN        NaN  17.0  NaN   NaN
Mission Hill             NaN          NaN        NaN  18.0  5.0   NaN
North End                NaN          NaN        NaN   5.0  3.0   NaN
Roslindale               NaN          NaN        NaN  32.0  NaN   NaN
Roxbury                  NaN          1.0        NaN  38.0  1.0   NaN
South Boston             NaN          NaN        NaN  37.0  1.0   7.0
South Boston Waterfront  NaN          NaN        NaN   1.0  4.0   1.0
South End                1.0          NaN        NaN   9.0  4.0   2.0
West End                 NaN          NaN        NaN   NaN  NaN   NaN
West Roxbury             NaN          NaN        NaN  29.0  NaN   NaN


property_type           Townhouse Villa
neighbourhood_cleansed
Allston                       1.0   1.0
Back Bay                      2.0   NaN
Bay Village                   1.0   NaN
Beacon Hill                   2.0   NaN
Brighton                      5.0   NaN
Charlestown                   3.0   NaN
Chinatown                     NaN   NaN
Dorchester                    6.0   NaN
Downtown                      NaN   4.0
East Boston                   3.0   NaN
Fenway                        NaN   NaN
Hyde Park                     NaN   NaN
Jamaica Plain                11.0   NaN
Leather District              NaN   NaN
Longwood Medical Area         NaN   NaN
Mattapan                      NaN   NaN
Mission Hill                  1.0   NaN
North End                     1.0   NaN
Roslindale                    NaN   1.0
Roxbury                       2.0   NaN
South Boston                  6.0   NaN
South Boston Waterfront       NaN   NaN
South End                     8.0   NaN
West End                      NaN   NaN
West Roxbury                  2.0   NaN

In [43]:
def group_property(row):
    if row['property_type'] in(['Boat', 'Camper/RV', 'Villa', 'Dorm', 'Entire Floor', 'Guesthouse']) :
        return 'Other'
    else:
        return row['property_type']

df_listing['property_type_grouped'] = df_listing.apply(group_property, axis = 1)

In [51]:
def group_neighbourhood(row):
    if row['neighbourhood_cleansed'] in([  'Leather District', 'Longwood Medical Area',   'Bay Village' ]) :
        return 'Other'
    else:
        return row['neighbourhood_cleansed']

df_listing['neighbourhood_cleansed_grouped'] = df_listing.apply(group_neighbourhood, axis = 1)

In [52]:
df_listing.pivot_table(values = ['id'], index = ['neighbourhood_cleansed_grouped'], columns =['property_type_grouped' ], aggfunc = 'count')

                                      id                                    \
property_type_grouped          Apartment Bed & Breakfast Condominium House
neighbourhood_cleansed_grouped
Allston                            177.0             NaN         8.0  71.0
Back Bay                           271.0             NaN        20.0   2.0
Beacon Hill                        174.0             3.0        11.0   4.0
Brighton                           121.0             2.0         8.0  46.0
Charlestown                         66.0             3.0        16.0  21.0
Chinatown                           66.0             NaN         1.0   NaN
Dorchester                         161.0             4.0        14.0  82.0
Downtown                           146.0             2.0         5.0   2.0
East Boston                        108.0             NaN        12.0  22.0
Fenway                             276.0             3.0         9.0   2.0
Hyde Park                            7.0             1.0         1.0  21.0
Jamaica Plain                      192.0            10.0        29.0  98.0
Mattapan                             5.0             2.0         NaN  17.0
Mission Hill                        95.0             NaN         5.0  18.0
North End                          121.0             NaN         8.0   5.0
Other                               21.0             2.0         7.0   5.0
Roslindale                          17.0             NaN         6.0  32.0
Roxbury                             95.0             3.0         4.0  38.0
South Boston                        91.0             NaN        32.0  37.0
South Boston Waterfront             74.0             NaN         3.0   1.0
South End                          266.0             6.0        30.0   9.0
West End                            47.0             NaN         2.0   NaN
West Roxbury                        15.0             NaN         NaN  29.0


property_type_grouped          Loft Other Townhouse
neighbourhood_cleansed_grouped
Allston                         1.0   1.0       1.0
Back Bay                        4.0   2.0       2.0
Beacon Hill                     NaN   NaN       2.0
Brighton                        1.0   2.0       5.0
Charlestown                     NaN   2.0       3.0
Chinatown                       4.0   NaN       NaN
Dorchester                      1.0   1.0       6.0
Downtown                        6.0  10.0       NaN
East Boston                     NaN   5.0       3.0
Fenway                          NaN   NaN       NaN
Hyde Park                       1.0   NaN       NaN
Jamaica Plain                   2.0   1.0      11.0
Mattapan                        NaN   NaN       NaN
Mission Hill                    5.0   NaN       1.0
North End                       3.0   5.0       1.0
Other                           1.0   1.0       1.0
Roslindale                      NaN   1.0       NaN
Roxbury                         1.0   1.0       2.0
South Boston                    1.0   7.0       6.0
South Boston Waterfront         4.0   1.0       NaN
South End                       4.0   3.0       8.0
West End                        NaN   NaN       NaN
West Roxbury                    NaN   NaN       2.0

In [10]:
# [3] Review: 
# used as demanding/activities

df_reviews = pd.read_csv(r'C:\Users\yan toshiba\Desktop\Yan\OnlineCourse\DataScientist(Udacity)\Projects\Project_1_CRISP\MyProject\Data\boston-airbnb-open-data\reviews.csv')
df_reviews.shape
df_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [57]:
# check the key words in review 

reviewkeylist = ['location', 'convenient', 'clost to', 'clean', 'spacious', 'comfortable', 'cozy']
def reviewkeyword(row):
    
    commentkey =[]
    for i in reviewkeylist:
        if 'This is an automated posting.' in row['comments']:
            commentkey  = 'Reservation cancelled'
        elif i in row['comments']:
            commentkey = i
    
    return commentkey

df_reviews['reviewkeyword'] = df_reviews.apply(reviewkeyword, axis = 1)

TypeError: ("argument of type 'float' is not iterable", 'occurred at index 1077')

In [ ]:
# Question 1: Location /type

In [ ]:
# Question 2: most popular season

In [ ]:
# Question 3: price and discount